h1{
    margin-left: 2%;
    color: #0063A6;
}

table{

    width: auto;
    font-size: 18px;
    font-variant: all-petite-caps;
}

thead{
    color: #0063A6;
    border-bottom: #0063A6;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.alerta{
    background: white;
    border-color: red;
    border-radius: 1px;
    font-family: Ubuntu;
    color: red;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    margin-bottom: 5px;
    padding: 10px 0px 10px 0px;
}
