<nav>
	<ul class="pagination">
		<li *ngIf="pagina>1 && paginas.length > 1">
			<a href="#" aria-label="Anterior" (click)="paginar(pagina-1, $event)">
				<span aria-hidden="true">&lsaquo;</span>
			</a>
		</li>
		<li *ngFor="let i of paginas" [ngClass]="{'active': i==pagina}">
			<a href="#" (click)="paginar(i, $event)">{{ i }}</a>
		</li>
		<li *ngIf="exibirProximo">
			<a href="#" aria-label="Próximo" (click)="paginar(pagina+1, $event)">
				<span aria-hidden="true">&rsaquo;</span>
			</a>
		</li>
	</ul>
</nav>