%border-radius-padrao-1 {
    border-radius: 5px 5px 5px 5px;
}

%border-radius-padrao-2 {
    border-radius: 0 0 5px 5px;
}

%border-radius-padrao-3 {
    border-radius: 0 5px 5px 0;
}

%border-radius-padrao-4 {
    border-radius: 5px 0 0 5px;
}